{% extends 'index.html' %}

{% load staticfiles %}

{% block link %}
    <style>
        .my_cart{
            width: 1140px;
            margin: auto;
        }
        .cards{
            display: flex;
            width: 1140px;
            margin: auto;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    </style>
{% endblock %}

{% block auth %}
{% if user.is_authenticated %}
            <div class="pull-right">
                <ul class="header-btns">
                    <!-- Account -->
                    <li class="header-account dropdown default-dropdown">
                        <div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
                            <div class="header-btns-icon">
                                <i class="fa fa-user-o"></i>
                            </div>
                            <strong class="text-uppercase">My Account <i class="fa fa-caret-down"></i></strong>
                        </div>
                        <a href="{% url 'mainpage:sing_in' %}" class="text-uppercase">Login</a> / <a href="{% url 'mainpage:registry' %}" class="text-uppercase">Create</a>
                        <ul class="custom-menu">
                            <li>
                                <form method="post" action="" >
                                    <input type="button" class="btn btn-outline-danger">LogOUT</input>
                                </form>
                            </li>
<!--                            <li><a href="#"><i class="fa fa-user-o"></i> My Account</a></li>-->
<!--                            <li><a href="#"><i class="fa fa-heart-o"></i> My Wishlist</a></li>-->
<!--                            <li><a href="#"><i class="fa fa-exchange"></i> Compare</a></li>-->
<!--                            <li><a href="{% url 'mainpage:checkout' %}"><i class="fa fa-check"></i> Checkout</a></li>-->
<!--                            <li><a href="{% url 'mainpage:sing_in' %}"><i class="fa fa-unlock-alt"></i> LogOUT</a></li>-->
<!--                            <li><a href="{% url 'mainpage:registry' %}"><i class="fa fa-user-plus"></i> Create An Account</a></li>-->
                        </ul>
                    </li>
                    <!-- /Account -->
                    <!-- Cart -->
                    <li class="header-cart dropdown default-dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                            <div class="header-btns-icon">
                                <i class="fa fa-shopping-cart"></i>
                                <span class="qty">3</span>
                            </div>
                            <strong class="text-uppercase">My Cart:</strong>
                            <br>
                            <span>35.20$</span>
                        </a>
                        <div class="custom-menu">
                            <div id="shopping-cart">
                                <div class="shopping-cart-list">
                                    <div class="product product-widget">
                                        <div class="product-thumb">
                                            <img src="{% static 'img/thumb-product01.jpg' %}" alt="">
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-price">$32.50 <span class="qty">x3</span></h3>
                                            <h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
                                        </div>
                                        <button class="cancel-btn"><i class="fa fa-trash"></i></button>
                                    </div>
                                    <div class="product product-widget">
                                        <div class="product-thumb">
                                            <img src="{% static 'img/thumb-product01.jpg' %}" alt="">
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-price">$32.50 <span class="qty">x3</span></h3>
                                            <h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>
                                        </div>
                                        <button class="cancel-btn"><i class="fa fa-trash"></i></button>
                                    </div>
                                </div>
                                <div class="shopping-cart-btns">
                                    <button class="main-btn">View Cart</button>
                                    <button class="primary-btn">Checkout <i class="fa fa-arrow-circle-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- /Cart -->
                    <!-- Mobile nav toggle-->
                    <li class="nav-toggle">
                        <button class="nav-toggle-btn main-btn icon-btn"><i class="fa fa-bars"></i></button>
                    </li>
                    <!-- / Mobile nav toggle -->
                </ul>
            </div>
        </div>
        {% endif %}
{% endblock %}



{% block content %}

{% if user.is_authenticated %}

<section class="my_cart">
    <h4 style="margin: 20px;">My Cart</h4>
    <div class="cards">
    <div class="card" style="width: 18rem;">
        <img src="{% static 'img/product01.jpg' %}" alt="" class="card-img-top" alt="..." width="180px" height="140px">
        <div class="card-body">
            <h5 class="card-title">Название карточки</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary" style="background: #dc3545; border: #dc3545;">Удалить</a>
        </div>
    </div>
    </div>
    <a href="{% url 'mainpage:checkout' %}"><button type="button" class="btn btn-primary btn-lg btn-block">ЗАКАЗАТЬ ПЕЧАТЬ</button></a>
</section>

{% else %}
			<a href="{% url 'mainpage:sing_in' %}"><h1 style="margin: 100px; text-align: center;">Авторизируйтесь</h1></a>
{% endif %}

{% endblock %}

